@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Quicksand:wght@300..700&family=Varela+Round&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  font-family: "Comfortaa", "Varela Round", "Quicksand", system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
